<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog detail</title>
</head>
<body>

        <div style="text-align: center">
            <a href="{{blog.id}}/change"><button>Change</button></a>
            <h2>{{ blog.title }}</h2>
            <img style="width: 400px; height: 500px" src="{{ blog.image.url }}" alt="">
            <p>{{ blog.description }}</p>
            <p>Likes: {{ blog.likes }}</p>
            <p>Reposts: {{ blog.reposts }}</p>

            <div>
                <form action="/blog/{{ blog.id }}" method="post">
                    {% csrf_token %}
                    <label>
                        <input name="comment" type="text">
                        <br>
                        <input type="submit" value="Submit your comment">
                    </label>
                </form>
            </div>
            <div>
                <ol>
                    {% for i in comments %}
                    <li>
                        <h3>
                            {{ i.text }}
                        </h3>
                        <span>
                            {{ i.date }}
                        </span>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
</body>
</html>