<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Post</title>
</head>
<body>
<form enctype="multipart/form-data" action="/blog/create" method="post">
    {% csrf_token %}
    <div>
        <p>
            <label>
            Title
            <input type="text" name="title">
        </label>
        </p>
        <p>
            <label>
            Description
            <input type="text" name="description">
        </label>
        </p>
        <p>
             <label>
            Image
            <input type="file" name="image">
        </label>
        </p>
        <input type="submit">
    </div>
</form>
</body>
</html>